body {
margin: 0; 
padding: 0; 
font-family: Roboto,Arial,sans-serif; 
font-size: 16px; 
line-height: 24px; 
font-weight: 400; 
color: #283136; 
background-color: #fff;
}

.page-header {
	background-color: white;
	color: black;
}

.red-button {
display: block; 
width: 234px; 
padding: 13px 0; 
margin-top: 25px; 
font-size: 16px; 
line-height: 18px; 
color: #fff; 
text-transform: uppercase; 
text-align: center; 
background: #fb565a; 
border-radius: 3px; 
border: 3px solid #fb565a;
}

.green-button {
display: block; 
width: 234px; 
padding: 13px 0; 
margin-top: 25px; 
font-size: 16px; 
line-height: 18px; 
color: #fff; 
text-transform: uppercase; 
text-align: center; 
background: #00ca74; 
border-radius: 3px; 
border: 3px solid #00ca74;
}

.yellow-button {
display: block; 
width: 234px; 
padding: 13px 0; 
margin-top: 25px; 
font-size: 16px; 
line-height: 18px; 
color: #fff; 
text-transform: uppercase; 
text-align: center; 
background:  #efc84a; 
border-radius: 3px; 
border: 3px solid #efc84a;
}

.page-number {
	display: block; 
width: 50px; 
padding: 13px 0; 
margin-top: 25px; 
font-size: 16px;
font-weight: bold; 
line-height: 18px; 
color: #000000;  
text-transform: uppercase;
text-align: center; 
background: #ededed; 
border-radius: 3px; 
border: 3px solid #ededed;
}

.page-number-one {
display: block; 
width: 50px; 
padding: 13px 0; 
margin-top: 25px; 
font-size: 16px;
font-weight: bold; 
line-height: 18px; 
color: #000000;  
text-transform: uppercase;
text-align: center; 
background: #ffffff; 
border-radius: 3px; 
border: 3px solid #dadada;
}

.page-number-next {
		display: block; 
width: 300px; 
padding: 13px 0; 
margin-top: 25px; 
font-size: 16px;
font-weight: bold; 
line-height: 18px; 
color: #000000;  
text-transform: uppercase;
text-align: center; 
background: #ededed; 
border-radius: 3px; 
border: 3px solid #ededed;
}

.visually-hidden {
	font-weight: bold;
}

.visually-hidden {
	font-weight: bold;
}

.visually-hidden {
	font-weight: bold;
}

.sinse-2004 {
	font-weight: bold;
}

input[type="login"] {
	width: 175px;
}

.slider-1 {
	background-image: url:("../img/slider-1.png") no-repeat 1050px 50px;
	background-color: #eeeeee;
}

.slider-2 {
	background-image: url:("../img/slider-2.png") no-repeat 1050px 50px;
	background-color: #eeeeee;
}

.slider-3 {
	background-image: url:("../img/slider-3.png") no-repeat 1050px 50px;
	background-color: #eeeeee;
}

.social-button {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
}

.interest {
	font-weight: bold;
	font-size: 40px;
}

.cart-block::before {
	position: absolute;
	top: 35px;
	left: 45px;
	width: 15px;
	height: 15px;
	background-size: 15px auto;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cart-block {
	position: relative;	
}

.cart-block::before, .current::after, .description ul li::before {
	content: "";
}

input[type=radio]:checked+label::before {
	background-image: url("../img/radio-on.svg");
	opacity: .5;
	position: absolute;
	left: -56px;
}

input[type=radio]+label::before {
	background-image: url("../img/radio-off.svg");
	opacity: .5;
	position: absolute;
	left: -56px;
}

input[type=checkbox]+label::before, input[type=radio]+label:before{
	position: absolute;
	top: 0;
	width: 26px;
	margin: 0;
	background-repeat: no-repeat;
	height: 26px;
	left: 0;
	content: "";
}

label {
	position: relative;
}


input[type=checkbox]+label::before {
	background-image: url("../img/checkbox-off.svg");
	opacity: .5;
	position: absolute;
	left: -26px;
}

input[type=checkbox]:checked+label::before {
	background-image: url("../img/checkbox-on.svg");
    opacity: .5;
	position: absolute;
	left: -26px;
}

ul {
	list-style-type: none;
}



.navigation-content:hover {
	color: red;
}

.navigation-content:focus {
	color: #bcbcbc;
}

.navigation-content :active {
	border-bottom: 10px solid #fb565a;
}

.img-logo:hover {
	color: #303030;
}

.red-button:hover {
	background-color: #e74246;
}

.red-button:focus {
	background-color: #d7373b;
	color: #e38486;
}

.green-button:hover {
	background-color: #00bc6c;
}

.green-button:focus {
	background-color: #00aa62;
	color: #74c69a;
}

.yellow-button:hover {
	background-color: #eab534;
}

.yellow-button:focus {
	background-color: #e5a722;
	color: #edc47c;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:focus {
	background-color: #d7373b;
	color: #e37376;
}

.login-field:hover {
	border-color: #b4b9bb;
}

.login-field:focus {
	border-color: #000000;
	color: #444444;
}

.login-field:invalid {
	border-color: #e74246;
	color: e95458;
}

.email-field:hover {
	border-color: #b4b9bb;
}

.email-field:focus {
	border-color: #000000;
	color: #444444;
}

.email:invalid {
	border-color: #e74246;
	color: e95458;
}

.comment-field:hover {
	border-color: #b4b9bb;
}

.comment-field:focus {
	border-color: #000000;
	color: #444444;
}

.comment-field:invalid {
	border-color: #e74246;
	color: e95458;
}

.show:hover {
	background-color: #dfdfdf;
	
}

.show:focus {
	background-color: #d5d5d5;
	color: #a8a8a8;
}

.buttons-list .page-number-digit:hover {
	background-color: #dfdfdf;
}

.buttons-list .page-number-digit:focus {
	background-color: #d5d5d5;
	color: #a8a8a8;
}

.buttons-list .page-number-digit:active {
	background-color: #ffffff;
	color: #a8a8a8;
	border-color: #dbdbdb;
}

.filter-content:hover {
	color: #8b8b8b;
}

.filter-content:focus {
	color: #000000;
}

.filter-content:active {
	color: #000000;
}

.filter-content:hover {
	color: #a6a6a6;
}

.grid-content:hover {
	color: #4d4d4d;
	border-color: #4d4d4d;
}

.grid-content:disabled {
	color: #ededed;
	border-color: #ededed;
}

.peculiar-properties:hover {
	color: #4d4d4d;
	border-color: #4d4d4d;
}

.peculiar-properties:disabled {
	color: #ededed;
	border-color: #ededed;
}

.partners-list:hover {
	color: #0f0f0f;
}

.sliders {
	font-size: 55px;
	line-height: 55px;
	font-weight: 700;
	color: #000;
	margin: 0 0 29px;
	padding: 0;
}

.order, .description, .lets-be-friends {
display: block; 
margin-bottom: 22px; 
padding-top: 34px; 
font-size: 24px; 
line-height: 30px; 
color: #000; 
}